@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    133 Holy Street<br />
    St Kilda, VIC 3099<br />
    <abbr title="Phone">P:</abbr>
    0456700001
</address>

<address>
    <strong>Support:</strong> <a href="mailto:aschattopadhyay@gmail.com">aschattopadhyay@gmail.com</a><br />
    
</address>
