@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <div style="text-align:center;"><img src="~/images/ao.png" /></div>
        <br />
        Choose a match, from the drop down list to proceed:
        <select class="form-control" id="ddlMatch">
            <option id="ddlMatchOption1" value="Select">Select</option>
            <option id="ddlMatchOption2" value="2017Final">2017 Australian Open Final Rafael Nadal vs Roger Federer</option>
            <option id="ddlMatchOption3" value="2017SemiFinal">2017 Australian Open Semi Final Rafael Nadal vs Grigor Dimitrov</option>
        </select>
        <br />
        <br />
        <div id="divVisualisation">
            Choose a visualisation from the drop down list to see it in real time
            <select id="ddlVisualisation" class="form-control">
                <option id="ddlMatchOption1" value="Select">Select</option>
                <option id="ddlMatchOption2" value="Game">Game(s), Set(s), Match Result</option>
                <option id="ddlMatchOption5" value="1st Serve Percentage">1st Serve Percentage</option>
                <option id="ddlMatchOption6" value="Match Prediction">Match Prediction</option>
                <option id="ddlMatchOption7" value="1st/2nd Serve On court Shot Pattern">1st/2nd Serve On court Shot Pattern</option>
                <option id="ddlMatchOption7" value="Number of Aces">Number of Aces</option>
            </select>
        </div>
        <div id="divVisualisationDisplay">



        </div>

    </div>
</div>

    


